.footer {
    color:  rgb(243, 255, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: cornflowerblue;
}

.footer span {
    font-weight: bold;
    color: rgb(243, 255, 243);
}